
/* Colors */
$color-background: #FFF;
$color-light-grey: #F6F7FB;
$color-primary: #F5AF19;
$color-border: #E8E8E8;
$color-text-contrast: #FFF;
$color-text-primary: #29292F;
$color-text-secondary: #6E7684;
$color-red: #D2234D;
$color-red-light: #FAF0F4; 
$color-primary-transparent: rgba(48, 128, 248, 0.1);
$color-icon: #9797A4;